* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: silver;
    font-family: "Circular Std";
    background-image: url(back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo,
.menu-logo {
    position: absolute;
    top: 2em;
    left: 2em;
}

.logo a,
.menu-logo a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: lighter;
    color: black;
}

.menu-toggle {
    position: fixed;
    top: 2em;
    right: 2em;
    width: 120px;
    height: 60px;
    background-color: black;
    border-radius: 8em;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle .menu-copy {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    color: white;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #f2f2f2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.menu-copy{
    width: 100%;
    height: 100%;
}

.menu-toggle p{
    margin-bottom: 0 !important;
    color: #f2f2f2;
}

.menu.active {
    opacity: 1;
    visibility: visible;
}

.col {
    flex: 1;
    padding: 10em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.link {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.link a{
    text-decoration: none;
    color: black;
}

.link.show {
    opacity: 1;
    transform: translateY(0);
}

.header h1 {
    color: #000000;
    font-size: 400px;
    font-weight: lighter;
    line-height: 100px;
    font-family: "Schabo";
}

/* Responsive styles */
@media (max-width: 900px) {
    .link a {
        font-size: 30px;
    }

    .header h1 {
        font-size: 150px;
        height: 120px;
    }
}


/*PROGETTI*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.horizontal-scroll-container {
    display: flex;
    overflow-x: auto; /* Abilita lo scrolling orizzontale */
    white-space: nowrap; /* Impedisce la rottura della riga */
    height: 100vh; /* Altezza della finestra */
}

.scroll-item {
    flex: 0 0 300px; /* Larghezza fissa per ogni elemento */
    height: 100%; /* Altezza completa */
    background-color: #4CAF50; /* Colore di sfondo */
    color: white; /* Colore del testo */
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra orizzontalmente */
    font-size: 24px; /* Dimensione del testo */
    margin-right: 20px; /* Spazio tra gli elementi */
    border-radius: 10px; /* Rende gli angoli arrotondati */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombra per un effetto sollevato */
}