* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0) !important;
    font-family: "Circular Std";
    
    /*background-image: url(back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    
}

.logo,
.menu-logo {
    position: absolute;
    top: 2em;
    left: 2em;
}

.logo a,
.menu-logo a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: lighter;
    color: black;
}



.menu-toggle {
    position: fixed;
    top: 2em;
    right: 2em;
    width: 120px;
    height: 60px;
    background-color: black;
    border-radius: 8em;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle .menu-copy {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    color: white;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #f2f2f2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.menu-copy{
    width: 100%;
    height: 100%;
}

.menu-toggle p{
    margin-bottom: 0 !important;
    color: #f2f2f2;
}

.menu.active {
    opacity: 1;
    visibility: visible;
}

.col {
    flex: 1;
    padding: 10em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.link {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.link a{
    text-decoration: none;
    color: black;
    
}

.link.show {
    opacity: 1;
    transform: translateY(0);
}

.header h1 {
    color: #000000;
    font-size: 400px;
    font-weight: lighter;
    line-height: 100px;
    font-family: "Schabo";
}

/* Responsive styles */
@media (max-width: 900px) {
    .link a {
        font-size: 30px;
    }

    .header h1 {
        font-size: 150px;
        height: 120px;
    }
}


/*PROGETTI*/


.containerproject{
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    
}

.horizontal-scroll-container {
    display: flex;
    align-items: center;
    justify-content: center ;
    overflow-x: auto; /* Abilita lo scrolling orizzontale */
    white-space: nowrap; /* Impedisce la rottura della riga */
    height: 100vh; /* Altezza della finestra */
}

.scroll-item {
    
    width: 1000px;
    aspect-ratio: 9 / 16;
    background-color: #4CAF50; /* Colore di sfondo */
    color: white; /* Colore del testo */
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra orizzontalmente */
    font-size: 24px; /* Dimensione del testo */
    margin-right: 20px; /* Spazio tra gli elementi */
   /* Rende gli angoli arrotondati */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombra per un effetto sollevato */
}

.primoitem{
    background-image: url(gardettoproj.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.secondoitem{
    background-image: url(sgarbicover.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.terzoitem{
    background-image: url(officinalombardicover.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logoproject{
    position: absolute;
    top: 2em;
    left: 2em;
}

.logoproject a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
}

.projbody{
    background-color: #000000;
}

.projsection{
    padding: 20px;
    font-family: "Poppins", sans-serif;
}

.projectstart{
    width: 100%;
    height: 100vh;
    padding-top: 15vh;
    background-color: #000000;
    padding-bottom: 5vh;
    
}

.projtext{
    height: 100%;
}

.projectdetails{
    height: 30vh;
    background-color: #000000;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

/*CONTAINER CONTACT*/

.containercontact{
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}



.bio{
    height: 100%;
    background-image: url(backbio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.whatido{
    height: 100vh;
    padding-top: 20vh;
    padding-left: 5vh;
}

nav{
  
  width: 100%;
  background: none;
  background-color: transparent;
}

.bodycontact{
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-family: "Circular Std";
    background-repeat: no-repeat;
    background-size: cover;
}

.logocontact{
    position: absolute;
    top: 2em;
    left: 2em;
}

.logocontact a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
}

.btnlinkedin{
    background-color: transparent !important;
    border: 1px solid white;
    border-radius: 25px;
}

.btnlinkedin a{
    padding: 20px;
    text-decoration: none;
    color: #f2f2f2;
}

/*PROJ 1*/



.projonebackphoto{
    background-image: url(gardettoproj.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
}